<a href="https://colab.research.google.com/github/ChristianBridge/Christian_INFO5731_SPRING2025/blob/main/Bridge_Christian_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment - 1**

This assignment includes range of programming tasks and data analysis exercises, aiming to enhance your Python skills and proficiency in string manipulation, numerical computations, and data science. Follow the instructions carefully and design well-structured Python programs to address each question.


1.  Question 1-5 using AI assistance is strictly prohibted
2.  Question 6-7 AI assitance is recommended by following guidelines.

Guidelines and expectations file can be found in week 2 module.

Late Submission will have a penalty of 10% reduction for each day after the deadline.

In [1]:
#Import libraries
import numpy as np
import pandas as pd

# Question 1 (10 points).

The formula that describes the volume V of a hemisphere with radius r is the following:

$ V=\frac{2}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of even numbers from 1-20. Output the result in the following format:

	r	V
	2	…
	4	…
	6	…
	.
	.
	.
	20	…

In [2]:
# Create Volume function
def volume(r):
    pi = 3.14159
    c = (2/3)
    r = r + 1
    r = range(1, r)
    for i in r:
        if i % 2 == 0:
            vol = (c * pi * (i**3))
            print(i, vol)

In [3]:
#Use volume function
volume(20)

2 16.755146666666665
4 134.04117333333332
6 452.38895999999994
8 1072.3293866666666
10 2094.393333333333
12 3619.1116799999995
14 5747.015306666666
16 8578.635093333332
18 12214.501919999999
20 16755.146666666664

# Question 2 (10 points)

(a) Write a Python program to generate a sequence of 12 random numbers falling within the range of 50 to 150.

(b) Arrange the generated numbers in ascending order. Display the sorted list.

(c) Extend the program to arrange the numbers in descending order as well. Present the sorted list accordingly.

(d) Compute and output the average of the entire group of generated numbers.

(e) Enhance the program to calculate and display the average of the first 6 numbers from both the ascending and descending sorted lists.

In [4]:
#Import random library
import random
# define list for random number creation & iteration (i)
numbers = []
i = 0
#Iterate 12 times to select numbers and append to list
while i < 12:
    rand_int = random.randint(50,150)
    numbers.append(rand_int)
    i+= 1
#Print number of items, list ascending, and list descending
print("# of items in list:", len(numbers))
numbers.sort()
print("Ascending:", numbers)
numbers.sort(reverse = True)
print("Descending:", numbers)
#Average = Sum of list / # of list items
avg = sum(numbers) / len(numbers)
print("The Average of the list:", avg)

# of items in list: 12
Ascending: [65, 67, 76, 80, 80, 86, 88, 94, 104, 120, 131, 147]
Descending: [147, 131, 120, 104, 94, 88, 86, 80, 80, 76, 67, 65]
The Average of the list: 94.83333333333333

In [5]:
#Create function to get previously created number list
#User inputs X as 'asc' or 'desc' to control how list is sorted
#Take average using first 6 index items
def avg_six(x):
    num_list = numbers
    if x == 'asc':
        numbers.sort()
    elif x == 'des':
        numbers.sort(reverse = True)
    avg = sum(numbers[0:6])/6
    print(avg)

In [6]:
#Call function for Ascending list
avg_six('asc')

75.66666666666667

In [7]:
#Call function for Descending list
avg_six('des')

114.0

# Question 3 (10 points).

Create a Python program that encompasses various string manipulation task:

(a) Prompt the user to input two sentences.

(b) Transform each sentence into a list, where each element corresponds to a word in the sentence. For example, if the sentences are "Hello, how are you doing today?" and "This is an example sentence for the program!"

The program should output:
['Hello', ',', 'how', 'are', 'you', 'doing', 'today', '?', 'This', 'is', 'an', 'example', 'sentence', 'for', 'the', 'program', '!']

(c) Compare the two sentences. Print out a list of words that occur in both sentences.

(d) Remove any punctuation from the sentence and print the sanitized sentences. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”).

(e) Count the number of vowels in each of the sentences. Print out each vowel and the occurrences  in the each of the two sentences separately, such as:

Sentence1: a:2, e:2, i:0, etc.
Sentence2: a:1, e:2, i:2, etc.

Design a well-structured Python program to execute these tasks efficiently.

In [8]:
# Store user inputs
prompt1 = input("Write a sentence here.\n")
prompt2 = input("Write another sentence here.\n")

Write a sentence here.

Write another sentence here.

In [9]:
#Import Regular Expression library
import re
# create function to return list of words & characters given sentence
# r'(\W)' is used to capture and group non-word characters
#ch.strip() will remove the blank space characters
def word_split(sent):
    return [ch for ch in re.split(r'(\W)', sent) if ch.strip()]

In [10]:
#Create list using function
ws1 = word_split(prompt1)
print(ws1)

[]

In [11]:
#Create list using function
ws2 = word_split(prompt2)
print(ws2)

[]

In [12]:
#Intersection operator for sets
set(ws1) & set(ws2)

set()

In [13]:
def word_split_no_spec(sent):
    x = [ch for ch in re.split('[^a-zA-Z]',sent) if ch.strip()]
    x = ' '.join(x)
    return x

In [14]:
wsns1 = word_split_no_spec(prompt1)
print(wsns1)

In [15]:
wsns2 = word_split_no_spec(prompt2)
print(wsns2)

In [16]:
def vowel_count(sent):
    x = sent
    x = list(x)
    vowels = ['a','e','i','o','u']
    vowel_nums = []
    for i in vowels:
        vowel_nums.append(x.count(i))
    y = zip(vowels, vowel_nums)
    return dict(y)

In [17]:
vowel_count(wsns1)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [18]:
vowel_count(wsns2)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

# Question 4 (10 Points)

Design and implement a simple command-line calculator program. The program should handle both integers and floating-point numbers.

(a) Write program that takes a mathematical expression as input and evaluates it. The program should support addition, subtraction, multiplication, and division.

(b) Extend the calculator to handle parentheses in mathematical expressions. Implement the necessary logic to evaluate expressions with nested parentheses.

(c) Enhance your calculator to include additional mathematical operations such as exponentiation, square root, and modulus.

(d) Implement error handling in the calculator program. Handle cases such as division by zero and invalid input expressions. Provide meaningful error messages.

(e) Implement a command to exit the calculator.

In [19]:
#Import operators and create dictionary
import operator
ops = {
    '+' : operator.add,
    'add' : operator.add,
    '-' : operator.sub,
    'sub' : operator.sub,
    "*" : operator.mul,
    'multiply' : operator.mul,
    'times' : operator.mul,
    "/" : operator.truediv,
    'divided by' : operator.truediv,
    'over' : operator.truediv
}

#Create math function
def math(num1, operator, num2):
    x = num1
    y = num2
    o = ops[operator]
    result = o(x,y)
    return result

In [20]:
test = '((1/2) + 2)**2'
word_split(test)

['(', '(', '1', '/', '2', ')', '+', '2', ')', '*', '*', '2']

In [21]:
'''def math(equation):
    x = word_split(equation)
    for ch in x:
'''

'def math(equation):\n    x = word_split(equation)\n    for ch in x:\n'

# Question 5 (20 points).

In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files.

To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(a) (5 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(b) (5 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(c) (5 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(d) (5 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [22]:
#import file & check format
df = pd.read_csv("Assignment1_denton_housing.csv", index_col = 'year')
df.head(5)

                 title_field  value
year
2014     Total Housing Units  49109
2014    Vacant Housing Units   2814
2014  Occupied Housing Units  46295
2013     Total Housing Units  47888
2013    Vacant Housing Units   4215

In [23]:
#Find all the various categories of title_field
columns = list(df['title_field'].unique())
print(columns)

['Total Housing Units', 'Vacant Housing Units', 'Occupied Housing Units', 'Owner Occupied', 'Renter Occupied', 'Median Gross Rent']

In [24]:
#Part 1
#Create new Dataframe for Occupied Housing Units
df_ohu = df[df['title_field'] == 'Occupied Housing Units']

In [25]:
#Sort Index
df_ohu.sort_index(ascending = True, inplace = True)

<ipython-input-25-c251b2ab9039>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ohu.sort_index(ascending = True, inplace = True)

In [26]:
#Part A
df_index = list(df_ohu.index)

#For every year and the subsequent year, find the difference between housing total
for x in df_index:
    next_year = x + 1
    if next_year in df_index:
        value = df_ohu.loc[x]['value'] - df_ohu.loc[next_year]['value']
        print(x, '-', next_year, 'difference in housing:', value)
    #Error for 2014 as there is no subsequent year to compare it to
    else:
        value = df_ohu.loc[x]['value'] - 0
        print("There is no year", next_year, "to compare housing for", x, "to.")

2008 - 2009 difference in housing: 795
2009 - 2010 difference in housing: -5091
2010 - 2011 difference in housing: 303
2011 - 2012 difference in housing: -1404
2012 - 2013 difference in housing: -1565
2013 - 2014 difference in housing: -2622
There is no year 2015 to compare housing for 2014 to.

In [27]:
#Part B
#Create empty list for results
part_b = []

#Get the values of the various fields for calculations
for x in df_index:
    total_housing = df.loc[(df['title_field'] == 'Total Housing Units') & (df.index == x), 'value'].item()
    vacant_housing = df.loc[(df['title_field'] == 'Vacant Housing Units') & (df.index == x), 'value'].item()
    occupied_housing = df.loc[(df['title_field'] == 'Occupied Housing Units') & (df.index == x), 'value'].item()
    percent_vacant = vacant_housing / total_housing
    percent_occupied = occupied_housing / total_housing
    part_b.append([x, percent_vacant, percent_occupied])

#Use the list created to make a dataframe for formatting
part_b = pd.DataFrame(part_b, columns = ['year', 'percent_vacant', 'percent occupied'])
print(part_b)

   year  percent_vacant  percent occupied
0  2008        0.108827          0.891173
1  2009        0.090711          0.909289
2  2010        0.081426          0.918574
3  2011        0.093795          0.906205
4  2012        0.066776          0.933224
5  2013        0.088018          0.911982
6  2014        0.057301          0.942699

In [28]:
df_index = list(df.index.unique())
df_index.sort()
print(df_index)

[2008, 2009, 2010, 2011, 2012, 2013, 2014]

In [29]:
compare = df.loc[(df['title_field'] == 'Vacant Housing Units') & (df.index == 2010), 'value'].values
print(compare)

[3635]

In [30]:
#Part C - print the value and year for highest vacant and occupied

#Create placeholders
year = 0
value = 0

#Check each year
for x in df_index:
    y = df.loc[(df['title_field'] == 'Vacant Housing Units') & (df.index == x), 'value'].item()
    if y > value:
        value = y
        year = x
    else:
        continue

#Return results
print(f'In {year}, {value} housing units were vacant')

In 2008, 4483 housing units were vacant

In [31]:
#Create placeholders
year = 0
value = 0

#Check each year
for x in df_index:
    y = df.loc[(df['title_field'] == 'Occupied Housing Units') & (df.index == x), 'value'].item()
    if y > value:
        value = y
        year = x
    else:
        continue

#Return results
print(f'In {year}, {value} housing units were occupied')

In 2014, 46295 housing units were occupied

In [32]:
#Part D - Harmonic Mean
#Find number of items & Create empty list
n = len(df_index)
sigma = []

#Find 1/each year's value and add to list
for x in df_index:
    total_housing = df.loc[(df['title_field'] == 'Total Housing Units') & (df.index == x), 'value'].item()
    total_housing = 1/total_housing
    sigma.append(total_housing)

#Sum list (denominator of harmonic mean)
harmonic_mean = sum(sigma)
#Compute equation for harmonic mean
harmonic_mean = n / harmonic_mean
print(harmonic_mean)

44398.28543969185

# **For question 6 and 7 you can take AI assitance to solve.**

Make sure you follow the instructions given in class to answer these questions.


**Important points:**

1.   You must come up with at least 10 edge cases.
2.   You should provide prompts and revised prompts given to ChatGPT.
2.   Debug your code and write comments for each block of code
3.   Analyzing error will not consider as edge case.

Edge cases are like real life scienarios which are realated to the given question.

# Question 6 (20 points).
Develop a advance Python program to manage inventory records for a prodcut managing company. The system needs functions for adding, deleting and changing products and basic search options. Your system should use CSV files to automate restocking and produce reports that show item values alongside category breakdowns. Manage edge cases and corrupted CSV files. Finally maintaine 50 products of different categories in inventory.

In [33]:
# Import Libraries
import sqlite3
import csv
import random

# Database setup
def initialize_db():
    conn = sqlite3.connect("products.db")
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS products (
            id INTEGER PRIMARY KEY,
            quantity INTEGER,
            value REAL,
            category TEXT,
            name TEXT
        )
    ''')
    conn.commit()
    conn.close()

# Function to add product
def add_product(product_id, quantity, value, category, name):
    conn = sqlite3.connect("products.db")
    cursor = conn.cursor()
    cursor.execute("INSERT INTO products VALUES (?, ?, ?, ?, ?)", (product_id, quantity, value, category, name))
    conn.commit()
    conn.close()

# Function to delete product
def delete_product(product_id):
    conn = sqlite3.connect("products.db")
    cursor = conn.cursor()
    cursor.execute("DELETE FROM products WHERE id = ?", (product_id,))
    conn.commit()
    conn.close()

# Function to update product
def update_product(product_id, quantity=None, value=None, category=None, name=None):
    conn = sqlite3.connect("products.db")
    cursor = conn.cursor()

    updates = []
    params = []
    if quantity is not None:
        updates.append("quantity = ?")
        params.append(quantity)
    if value is not None:
        updates.append("value = ?")
        params.append(value)
    if category is not None:
        updates.append("category = ?")
        params.append(category)
    if name is not None:
        updates.append("name = ?")
        params.append(name)

    params.append(product_id)
    cursor.execute(f"UPDATE products SET {', '.join(updates)} WHERE id = ?", params)
    conn.commit()
    conn.close()

# Function to import from CSV
def import_from_csv(filename):
    conn = sqlite3.connect("products.db")
    cursor = conn.cursor()

    try:
        # Open the CSV file
        with open(filename, "r") as file:
            reader = csv.reader(file)
            header = next(reader)  # Skip the header row

            # Ensure the CSV file has the expected number of columns
            if len(header) != 5:
                print("Error: CSV file does not have the correct number of columns.")
                return

            for row in reader:
                try:
                    # Ensure the row has exactly 5 elements
                    if len(row) != 5:
                        raise ValueError(f"Malformed row: {row}")

                    # Convert the data types as needed
                    product_id = int(row[0])
                    quantity = int(row[1])
                    value = float(row[2])
                    category = row[3]
                    name = row[4]

                    # Check for existing product ID to update the quantity and value
                    cursor.execute("SELECT * FROM products WHERE id = ?", (product_id,))
                    existing_product = cursor.fetchone()

                    if existing_product:
                        # Update the product's quantity and value
                        new_quantity = existing_product[1] + quantity
                        cursor.execute("UPDATE products SET quantity = ?, value = ? WHERE id = ?",
                                       (new_quantity, value, product_id))
                    else:
                        # Insert the new product
                        cursor.execute("INSERT INTO products VALUES (?, ?, ?, ?, ?)",
                                       (product_id, quantity, value, category, name))
                except ValueError as ve:
                    print(f"Skipping row due to ValueError: {ve}")
                except sqlite3.Error as db_error:
                    print(f"Database error occurred while processing row {row}: {db_error}")

        # Commit the changes and close the connection
        conn.commit()
    except FileNotFoundError:
        print(f"Error: The file '{filename}' was not found.")
    except csv.Error as csv_error:
        print(f"Error: A CSV error occurred: {csv_error}")
    except sqlite3.Error as db_error:
        print(f"Database error occurred: {db_error}")
    finally:
        conn.close()

# Sample food categories and names
categories = ["Fruits", "Vegetables", "Dairy", "Meat", "Grains", "Beverages", "Snacks"]
names = [
    "Apple", "Banana", "Carrot", "Cheese", "Chicken", "Chili", "Cucumber", "Donut",
    "Eggplant", "Garlic", "Grapes", "Hamburger", "Hotdog", "Ice cream", "Jalapeno",
    "Kiwi", "Lettuce", "Mango", "Noodles", "Olives", "Onion", "Pasta", "Peach", "Peas",
    "Pepper", "Pineapple", "Potato", "Pumpkin", "Quinoa", "Rice", "Salmon", "Spinach",
    "Squash", "Strawberry", "Tomato", "Tuna", "Watermelon", "Zucchini", "Avocado",
    "Bagel", "Bacon", "Beef", "Berry", "Biscuits", "Blueberry", "Bread", "Broccoli",
    "Brownie", "Butter", "Cabbage", "Cantaloupe", "Cereal", "Cherries", "Chocolate",
    "Cinnamon", "Coconut", "Cookies", "Corn", "Crab", "Crackers", "Croissant", "Cucumber",
    "Doughnut", "Eggs", "Feta", "Figs", "French fries", "Garlic bread", "Ginger", "Grapefruit",
    "Gravy", "Ham", "Honey", "Ice tea", "Jelly", "Lamb", "Lemon", "Lobster", "Muffin",
    "Mustard", "Naan", "Oatmeal", "Olive oil", "Orange", "Pancake", "Peanut", "Pine nuts",
    "Popcorn", "Pudding", "Raspberry", "Rice cake", "Salad", "Sausage", "Sesame", "Shrimp",
    "Smoothie", "Sourdough", "Spaghetti", "Spinach", "Steak", "Sushi", "Taco", "Tofu",
    "Turkey", "Vanilla", "Waffle", "Watercress", "Yogurt", "Ziti"
]

# Define the categories and food items as before
food_categories = {
    "Fruits": ["Apple", "Banana", "Grapes", "Kiwi", "Mango", "Peach", "Pineapple", "Watermelon", "Strawberry", "Orange", "Lemon"],
    "Vegetables": ["Carrot", "Cucumber", "Eggplant", "Garlic", "Onion", "Lettuce", "Peas", "Spinach", "Tomato", "Zucchini", "Broccoli", "Cabbage", "Potato", "Pumpkin", "Squash"],
    "Dairy": ["Cheese", "Butter", "Milk", "Yogurt", "Cream", "Feta", "Mozzarella", "Cottage cheese"],
    "Meat": ["Chicken", "Beef", "Pork", "Lamb", "Turkey", "Duck", "Bacon", "Sausage", "Salmon", "Tuna", "Shrimp", "Crab", "Lobster"],
    "Grains": ["Rice", "Quinoa", "Oats", "Wheat", "Barley", "Noodles", "Bread", "Pasta", "Bagel", "Tortilla"],
    "Beverages": ["Water", "Soda", "Juice", "Tea", "Coffee", "Milkshake", "Smoothie", "Wine", "Beer", "Iced tea"],
    "Snacks": ["Chips", "Popcorn", "Cookies", "Crackers", "Nuts", "Granola bar", "Candy", "Chocolate", "Pretzels", "Biscuits"]
}

# Flatten the food categories into a list of names along with their categories
categories = list(food_categories.keys())
names = {category: items for category, items in food_categories.items()}

def generate_food_csv(filename, num_items=50):
    used_names = set()  # Set to track globally used names
    available_items = [(category, name) for category, names in food_categories.items() for name in names]

    # Shuffle the available items to ensure random selection
    random.shuffle(available_items)

    with open(filename, "w", newline="") as file:
        writer = csv.writer(file)
        writer.writerow(["ID", "Quantity", "Value", "Category", "Name"])

        for i in range(1, num_items + 1):
            # Ensure there's enough unique items
            if not available_items:
                print(f"Not enough unique names available to generate {num_items} items.")
                break

            item_id = i
            quantity = random.randint(1, 100)
            value = round(random.uniform(1, 50), 2)

            # Get the next available item
            category, name = available_items.pop()

            # Add the name to the used set
            used_names.add(name)

            # Write the row to the CSV file
            writer.writerow([item_id, quantity, value, category, name])

# Function to view all products
def view_products():
    conn = None
    try:
        conn = sqlite3.connect("products.db")
        cursor = conn.cursor()

        # Fetch column names
        cursor.execute("PRAGMA table_info(products)")
        columns = [column[1] for column in cursor.fetchall()]

        # Fetch all rows of products
        cursor.execute("SELECT * FROM products")
        rows = cursor.fetchall()

        # Print the column names
        print(f"{' | '.join(columns)}")  # Adjust this if you need specific formatting

        # Print each row of data
        for row in rows:
            print(f"{' | '.join(map(str, row))}")

    except sqlite3.Error as e:
        print(f"Database error: {e}")
    finally:
        if conn:
            conn.close()

In [34]:
# Initialize database
initialize_db()

In [35]:
# Generate CSV file & Import
generate_food_csv("food_items.csv")
import_from_csv('food_items.csv')

In [36]:
view_products()

id | quantity | value | category | name
1 | 356 | 16.53 | Dairy | Feta
2 | 509 | 4.91 | Fruits | Strawberry
3 | 521 | 25.69 | Vegetables | Spinach
4 | 386 | 48.26 | Vegetables | Onion
5 | 446 | 39.42 | Beverages | Wine
6 | 454 | 46.5 | Fruits | Apple
7 | 482 | 18.0 | Fruits | Strawberry
8 | 311 | 49.94 | Dairy | Yogurt
9 | 423 | 11.16 | Dairy | Milk
10 | 522 | 13.41 | Vegetables | Pumpkin
11 | 517 | 8.19 | Grains | Bagel
12 | 434 | 12.11 | Dairy | Cottage cheese
13 | 470 | 21.29 | Meat | Bacon
14 | 496 | 48.55 | Dairy | Butter
15 | 557 | 20.94 | Beverages | Wine
16 | 441 | 1.74 | Dairy | Cottage cheese
17 | 356 | 26.03 | Grains | Pasta
18 | 474 | 48.15 | Grains | Rice
19 | 505 | 40.18 | Meat | Sausage
20 | 325 | 17.62 | Grains | Quinoa
21 | 459 | 5.07 | Meat | Sausage
22 | 454 | 34.19 | Snacks | Crackers
23 | 458 | 35.2 | Beverages | Smoothie
24 | 460 | 22.49 | Vegetables | Squash
25 | 508 | 19.52 | Dairy | Mozzarella
26 | 522 | 38.49 | Dairy | Cream
27 | 393 | 7.04 | Meat | Bacon
28 | 538 | 7.88 | Grains | Bread
29 | 406 | 34.93 | Dairy | Cream
30 | 457 | 25.71 | Fruits | Apple
31 | 461 | 12.31 | Beverages | Smoothie
32 | 551 | 9.68 | Dairy | Mozzarella
33 | 391 | 10.8 | Fruits | Banana
34 | 436 | 40.42 | Snacks | Chips
35 | 596 | 31.64 | Grains | Bagel
36 | 398 | 47.65 | Dairy | Cottage cheese
37 | 372 | 39.69 | Beverages | Wine
38 | 477 | 10.93 | Beverages | Tea
39 | 488 | 25.31 | Fruits | Mango
40 | 365 | 39.83 | Dairy | Cottage cheese
41 | 496 | 19.47 | Meat | Lobster
42 | 445 | 34.69 | Beverages | Iced tea
43 | 275 | 43.11 | Meat | Chicken
44 | 490 | 33.85 | Vegetables | Zucchini
45 | 449 | 3.95 | Dairy | Milk
46 | 524 | 32.12 | Grains | Noodles
47 | 415 | 25.73 | Vegetables | Eggplant
48 | 295 | 26.96 | Vegetables | Squash
49 | 482 | 30.35 | Snacks | Pretzels
50 | 494 | 36.31 | Fruits | Strawberry

# Question 7 (20 points)

Create a well desined Python program for a flight booking system. Offer core functions for adding new flights, finding trips, reserving and releasing seating space and creating performance reports. Ensure the system manages edge cases like invalid input, overbooking, and cancellations. Finally, extend the booking system by including advanced features and maintain about 50 flight in the system.

In [48]:
import sqlite3
import datetime

# Create a connection to the SQLite database
conn = sqlite3.connect('flight_booking_system.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create the flights table (if not exists)
cursor.execute('''
CREATE TABLE IF NOT EXISTS flights (
    flight_id INTEGER PRIMARY KEY AUTOINCREMENT,
    departure_location TEXT NOT NULL,
    arrival_location TEXT NOT NULL,
    departure_time TEXT NOT NULL,
    distance_traveled REAL NOT NULL,
    time_to_arrival TEXT NOT NULL,
    capacity INTEGER NOT NULL
)
''')

# Create the bookings table (for managing bookings)
cursor.execute('''
CREATE TABLE IF NOT EXISTS bookings (
    booking_id INTEGER PRIMARY KEY AUTOINCREMENT,
    flight_id INTEGER NOT NULL,
    seats_booked INTEGER NOT NULL,
    FOREIGN KEY (flight_id) REFERENCES flights (flight_id)
)
''')

# List of sample departure and arrival locations (cities)
cities = [
    'New York', 'Los Angeles', 'Chicago', 'Miami', 'San Francisco',
    'London', 'Paris', 'Berlin', 'Madrid', 'Rome',
    'Tokyo', 'Seoul', 'Beijing', 'Singapore', 'Sydney',
    'Dubai', 'Mumbai', 'Bangkok', 'Dubai', 'Mexico City'
]

# Function to generate random flight durations based on the distance
def get_flight_duration(distance):
    # Average cruising speed for commercial jets is around 800-900 km/h
    avg_speed = random.randint(800, 900)
    duration = distance / avg_speed
    hours = int(duration)
    minutes = int((duration - hours) * 60)
    return f"{hours:02}:{minutes:02}:00"

# Function to add a new flight (from the previous implementation)
def add_flight(departure_location, arrival_location, departure_time, distance_traveled, time_to_arrival, capacity):
    cursor.execute('''
    INSERT INTO flights (departure_location, arrival_location, departure_time, distance_traveled, time_to_arrival, capacity)
    VALUES (?, ?, ?, ?, ?, ?)
    ''', (departure_location, arrival_location, departure_time, distance_traveled, time_to_arrival, capacity))
    conn.commit()
    print(f"Flight from {departure_location} to {arrival_location} added successfully.")

# Function to generate a random flight and add it to the database
def generate_random_flight_and_add():
    departure_location = random.choice(cities)
    arrival_location = random.choice(cities)

    # Ensure that the departure and arrival locations are not the same
    while departure_location == arrival_location:
        arrival_location = random.choice(cities)

    # Random flight distance between 1000 km to 10000 km
    distance = round(random.uniform(1000, 10000), 1)

    # Calculate flight duration based on distance
    time_to_arrival = get_flight_duration(distance)

    # Random departure time within the next 30 days
    departure_time = datetime.datetime.now() + datetime.timedelta(days=random.randint(1, 30))
    departure_time = departure_time.strftime("%Y-%m-%d %H:%M:%S")

    # Random flight capacity between 100 and 300
    capacity = random.randint(100, 300)

    # Add the generated flight to the database
    add_flight(departure_location, arrival_location, departure_time, distance, time_to_arrival, capacity)

# Function to find a flight by departure and arrival locations
def find_flight(departure_location, arrival_location):
    cursor.execute('''
    SELECT * FROM flights WHERE departure_location = ? AND arrival_location = ?
    ''', (departure_location, arrival_location))
    flights = cursor.fetchall()
    if flights:
        for flight in flights:
            print(f"Flight ID: {flight[0]}, Departure: {flight[1]}, Arrival: {flight[2]}, Departure Time: {flight[3]}, Distance: {flight[4]}, Duration: {flight[5]}, Capacity: {flight[6]}")
    else:
        print("No flights found for the specified route.")

# Function to book seats on a flight
def book_seats(flight_id, seats_to_book):
    # First, find the flight by ID
    cursor.execute('SELECT capacity FROM flights WHERE flight_id = ?', (flight_id,))
    flight = cursor.fetchone()

    if flight:
        capacity = flight[0]
        # Check if there are enough seats available
        if seats_to_book <= capacity:
            # Deduct booked seats from the flight capacity
            new_capacity = capacity - seats_to_book
            cursor.execute('UPDATE flights SET capacity = ? WHERE flight_id = ?', (new_capacity, flight_id))
            # Add a booking record
            cursor.execute('''
            INSERT INTO bookings (flight_id, seats_booked) VALUES (?, ?)
            ''', (flight_id, seats_to_book))
            conn.commit()
            print(f"Booking successful! {seats_to_book} seats booked on flight {flight_id}.")
        else:
            print("Not enough seats available for booking.")
    else:
        print("Flight not found.")

def cancel_booking(booking_id):
    # Find the booking by booking_id
    cursor.execute('SELECT flight_id, seats_booked FROM bookings WHERE booking_id = ?', (booking_id,))
    booking = cursor.fetchone()

    if booking:
        flight_id, seats_booked = booking

        # Add the canceled seats back to the flight's available capacity
        cursor.execute('SELECT capacity FROM flights WHERE flight_id = ?', (flight_id,))
        flight = cursor.fetchone()

        if flight:
            current_capacity = flight[0]
            new_capacity = current_capacity + seats_booked
            cursor.execute('UPDATE flights SET capacity = ? WHERE flight_id = ?', (new_capacity, flight_id))

            # Delete the booking record
            cursor.execute('DELETE FROM bookings WHERE booking_id = ?', (booking_id,))
            conn.commit()

            print(f"Booking {booking_id} canceled successfully. {seats_booked} seats returned to the flight.")
        else:
            print("Flight not found.")
    else:
        print(f"Booking {booking_id} not found.")

def query_all_data():
    # Query all flights data
    cursor.execute('SELECT * FROM flights')
    flights = cursor.fetchall()
    print("\n--- All Flights ---")
    if flights:
        for flight in flights:
            print(f"Flight ID: {flight[0]}, Departure: {flight[1]}, Arrival: {flight[2]}, Departure Time: {flight[3]}, Distance: {flight[4]}, Duration: {flight[5]}, Capacity: {flight[6]}")
    else:
        print("No flights found.")

    # Query all bookings data
    cursor.execute('SELECT * FROM bookings')
    bookings = cursor.fetchall()
    print("\n--- All Bookings ---")
    if bookings:
        for booking in bookings:
            print(f"Booking ID: {booking[0]}, Flight ID: {booking[1]}, Seats Booked: {booking[2]}")
    else:
        print("No bookings found.")

In [49]:
# Test functions
add_flight('New York', 'London', '2025-02-10 18:30:00', 5570.5, '07:30:00', 200)
add_flight('Los Angeles', 'Tokyo', '2025-02-11 23:45:00', 8800.2, '11:45:00', 250)
add_flight('Chicago', 'Paris', '2025-02-12 08:00:00', 7200.0, '08:00:00', 180)

# Find a flight
print("Searching for flights from New York to London:")
find_flight('New York', 'London')

# Book seats on a flight
print("\nBooking seats:")
book_seats(1, 5)  # Booking 5 seats on flight with ID 1
book_seats(1, 100)  # Trying to book 100 seats (should fail)
book_seats(2, 10)   # Booking 10 seats on flight with ID 2

# Display all bookings (optional, for testing purposes)
cursor.execute('SELECT * FROM bookings')
bookings = cursor.fetchall()
print("\nCurrent Bookings:")
for booking in bookings:
    print(f"Booking ID: {booking[0]}, Flight ID: {booking[1]}, Seats Booked: {booking[2]}")

Flight from New York to London added successfully.
Flight from Los Angeles to Tokyo added successfully.
Flight from Chicago to Paris added successfully.
Searching for flights from New York to London:
Flight ID: 1, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 85
Flight ID: 4, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200
Flight ID: 7, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200
Flight ID: 10, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200
Flight ID: 13, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200

Booking seats:
Booking successful! 5 seats booked on flight 1.
Not enough seats available for booking.
Booking successful! 10 seats booked on flight 2.

Current Bookings:
Booking ID: 1, Flight ID: 1, Seats Booked: 5
Booking ID: 2, Flight ID: 1, Seats Booked: 100
Booking ID: 3, Flight ID: 2, Seats Booked: 10
Booking ID: 4, Flight ID: 1, Seats Booked: 5
Booking ID: 5, Flight ID: 2, Seats Booked: 10
Booking ID: 6, Flight ID: 1, Seats Booked: 5
Booking ID: 7, Flight ID: 2, Seats Booked: 10
Booking ID: 8, Flight ID: 1, Seats Booked: 5
Booking ID: 9, Flight ID: 2, Seats Booked: 10

In [50]:
# Generate and add 50 random flights to the database
for _ in range(50):
    generate_random_flight_and_add()

# Confirm all flights were added successfully
print("\n50 random flights have been added to the database.")

Flight from Berlin to Bangkok added successfully.
Flight from Singapore to Bangkok added successfully.
Flight from Berlin to Tokyo added successfully.
Flight from Tokyo to Los Angeles added successfully.
Flight from Berlin to Miami added successfully.
Flight from Seoul to Rome added successfully.
Flight from Dubai to Rome added successfully.
Flight from Madrid to Dubai added successfully.
Flight from Chicago to Berlin added successfully.
Flight from Mumbai to Bangkok added successfully.
Flight from Mumbai to Miami added successfully.
Flight from London to Sydney added successfully.
Flight from Berlin to Miami added successfully.
Flight from Paris to Dubai added successfully.
Flight from Singapore to Bangkok added successfully.
Flight from Mumbai to Mexico City added successfully.
Flight from Singapore to Chicago added successfully.
Flight from Rome to Dubai added successfully.
Flight from Madrid to Dubai added successfully.
Flight from San Francisco to Seoul added successfully.
Flight from Los Angeles to Madrid added successfully.
Flight from Paris to San Francisco added successfully.
Flight from San Francisco to Miami added successfully.
Flight from Mexico City to Madrid added successfully.
Flight from Seoul to Dubai added successfully.
Flight from Seoul to Mumbai added successfully.
Flight from Mexico City to Mumbai added successfully.
Flight from Dubai to Berlin added successfully.
Flight from Chicago to Singapore added successfully.
Flight from Sydney to Tokyo added successfully.
Flight from Dubai to Rome added successfully.
Flight from Sydney to Miami added successfully.
Flight from Sydney to Paris added successfully.
Flight from Chicago to Rome added successfully.
Flight from San Francisco to Mexico City added successfully.
Flight from Madrid to Berlin added successfully.
Flight from Sydney to Beijing added successfully.
Flight from Bangkok to Mexico City added successfully.
Flight from Dubai to London added successfully.
Flight from San Francisco to Los Angeles added successfully.
Flight from Miami to Dubai added successfully.
Flight from Rome to Seoul added successfully.
Flight from Beijing to Berlin added successfully.
Flight from Bangkok to San Francisco added successfully.
Flight from Berlin to Los Angeles added successfully.
Flight from Singapore to Sydney added successfully.
Flight from Paris to Dubai added successfully.
Flight from Beijing to Los Angeles added successfully.
Flight from New York to Mexico City added successfully.
Flight from London to Dubai added successfully.

50 random flights have been added to the database.

In [51]:
query_all_data()

--- All Flights ---
Flight ID: 1, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 80
Flight ID: 2, Departure: Los Angeles, Arrival: Tokyo, Departure Time: 2025-02-11 23:45:00, Distance: 8800.2, Duration: 11:45:00, Capacity: 210
Flight ID: 3, Departure: Chicago, Arrival: Paris, Departure Time: 2025-02-12 08:00:00, Distance: 7200.0, Duration: 08:00:00, Capacity: 180
Flight ID: 4, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200
Flight ID: 5, Departure: Los Angeles, Arrival: Tokyo, Departure Time: 2025-02-11 23:45:00, Distance: 8800.2, Duration: 11:45:00, Capacity: 250
Flight ID: 6, Departure: Chicago, Arrival: Paris, Departure Time: 2025-02-12 08:00:00, Distance: 7200.0, Duration: 08:00:00, Capacity: 180
Flight ID: 7, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200
Flight ID: 8, Departure: Los Angeles, Arrival: Tokyo, Departure Time: 2025-02-11 23:45:00, Distance: 8800.2, Duration: 11:45:00, Capacity: 250
Flight ID: 9, Departure: Chicago, Arrival: Paris, Departure Time: 2025-02-12 08:00:00, Distance: 7200.0, Duration: 08:00:00, Capacity: 180
Flight ID: 10, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200
Flight ID: 11, Departure: Los Angeles, Arrival: Tokyo, Departure Time: 2025-02-11 23:45:00, Distance: 8800.2, Duration: 11:45:00, Capacity: 250
Flight ID: 12, Departure: Chicago, Arrival: Paris, Departure Time: 2025-02-12 08:00:00, Distance: 7200.0, Duration: 08:00:00, Capacity: 180
Flight ID: 13, Departure: New York, Arrival: London, Departure Time: 2025-02-10 18:30:00, Distance: 5570.5, Duration: 07:30:00, Capacity: 200
Flight ID: 14, Departure: Los Angeles, Arrival: Tokyo, Departure Time: 2025-02-11 23:45:00, Distance: 8800.2, Duration: 11:45:00, Capacity: 250
Flight ID: 15, Departure: Chicago, Arrival: Paris, Departure Time: 2025-02-12 08:00:00, Distance: 7200.0, Duration: 08:00:00, Capacity: 180
Flight ID: 16, Departure: Berlin, Arrival: Bangkok, Departure Time: 2025-02-06 01:50:17, Distance: 8795.9, Duration: 09:52:00, Capacity: 290
Flight ID: 17, Departure: Singapore, Arrival: Bangkok, Departure Time: 2025-02-17 01:50:17, Distance: 3898.7, Duration: 04:52:00, Capacity: 275
Flight ID: 18, Departure: Berlin, Arrival: Tokyo, Departure Time: 2025-02-16 01:50:17, Distance: 2483.4, Duration: 02:51:00, Capacity: 111
Flight ID: 19, Departure: Tokyo, Arrival: Los Angeles, Departure Time: 2025-03-06 01:50:17, Distance: 9163.4, Duration: 11:24:00, Capacity: 226
Flight ID: 20, Departure: Berlin, Arrival: Miami, Departure Time: 2025-02-16 01:50:17, Distance: 8239.0, Duration: 09:29:00, Capacity: 254
Flight ID: 21, Departure: Seoul, Arrival: Rome, Departure Time: 2025-02-16 01:50:17, Distance: 6125.6, Duration: 07:34:00, Capacity: 217
Flight ID: 22, Departure: Dubai, Arrival: Rome, Departure Time: 2025-02-17 01:50:18, Distance: 5264.4, Duration: 05:58:00, Capacity: 279
Flight ID: 23, Departure: Madrid, Arrival: Dubai, Departure Time: 2025-02-23 01:50:18, Distance: 8785.3, Duration: 10:58:00, Capacity: 100
Flight ID: 24, Departure: Chicago, Arrival: Berlin, Departure Time: 2025-02-21 01:50:18, Distance: 5177.2, Duration: 06:25:00, Capacity: 261
Flight ID: 25, Departure: Mumbai, Arrival: Bangkok, Departure Time: 2025-02-18 01:50:18, Distance: 1422.9, Duration: 01:35:00, Capacity: 141
Flight ID: 26, Departure: Mumbai, Arrival: Miami, Departure Time: 2025-02-09 01:50:18, Distance: 6414.2, Duration: 07:17:00, Capacity: 253
Flight ID: 27, Departure: London, Arrival: Sydney, Departure Time: 2025-02-20 01:50:18, Distance: 6525.9, Duration: 08:03:00, Capacity: 113
Flight ID: 28, Departure: Berlin, Arrival: Miami, Departure Time: 2025-03-02 01:50:18, Distance: 8522.7, Duration: 10:32:00, Capacity: 292
Flight ID: 29, Departure: Paris, Arrival: Dubai, Departure Time: 2025-02-05 01:50:18, Distance: 9700.1, Duration: 10:53:00, Capacity: 166
Flight ID: 30, Departure: Singapore, Arrival: Bangkok, Departure Time: 2025-02-16 01:50:18, Distance: 8883.0, Duration: 10:10:00, Capacity: 284
Flight ID: 31, Departure: Mumbai, Arrival: Mexico City, Departure Time: 2025-02-16 01:50:18, Distance: 9653.9, Duration: 11:36:00, Capacity: 114
Flight ID: 32, Departure: Singapore, Arrival: Chicago, Departure Time: 2025-02-12 01:50:18, Distance: 3439.6, Duration: 04:03:00, Capacity: 288
Flight ID: 33, Departure: Rome, Arrival: Dubai, Departure Time: 2025-03-04 01:50:18, Distance: 4739.9, Duration: 05:39:00, Capacity: 259
Flight ID: 34, Departure: Madrid, Arrival: Dubai, Departure Time: 2025-02-06 01:50:18, Distance: 5074.8, Duration: 06:03:00, Capacity: 192
Flight ID: 35, Departure: San Francisco, Arrival: Seoul, Departure Time: 2025-02-07 01:50:18, Distance: 5683.6, Duration: 06:30:00, Capacity: 128
Flight ID: 36, Departure: Los Angeles, Arrival: Madrid, Departure Time: 2025-02-05 01:50:18, Distance: 3852.7, Duration: 04:46:00, Capacity: 152
Flight ID: 37, Departure: Paris, Arrival: San Francisco, Departure Time: 2025-02-14 01:50:18, Distance: 9839.0, Duration: 11:05:00, Capacity: 152
Flight ID: 38, Departure: San Francisco, Arrival: Miami, Departure Time: 2025-03-01 01:50:18, Distance: 6276.9, Duration: 07:27:00, Capacity: 293
Flight ID: 39, Departure: Mexico City, Arrival: Madrid, Departure Time: 2025-02-17 01:50:18, Distance: 4906.7, Duration: 05:29:00, Capacity: 288
Flight ID: 40, Departure: Seoul, Arrival: Dubai, Departure Time: 2025-02-17 01:50:18, Distance: 6210.2, Duration: 07:09:00, Capacity: 103
Flight ID: 41, Departure: Seoul, Arrival: Mumbai, Departure Time: 2025-02-14 01:50:18, Distance: 6597.1, Duration: 07:41:00, Capacity: 229
Flight ID: 42, Departure: Mexico City, Arrival: Mumbai, Departure Time: 2025-02-08 01:50:18, Distance: 3347.7, Duration: 03:53:00, Capacity: 241
Flight ID: 43, Departure: Dubai, Arrival: Berlin, Departure Time: 2025-02-21 01:50:18, Distance: 3402.1, Duration: 04:03:00, Capacity: 258
Flight ID: 44, Departure: Chicago, Arrival: Singapore, Departure Time: 2025-02-19 01:50:18, Distance: 1477.9, Duration: 01:48:00, Capacity: 178
Flight ID: 45, Departure: Sydney, Arrival: Tokyo, Departure Time: 2025-02-10 01:50:18, Distance: 5708.4, Duration: 06:20:00, Capacity: 146
Flight ID: 46, Departure: Dubai, Arrival: Rome, Departure Time: 2025-02-17 01:50:18, Distance: 5150.4, Duration: 06:08:00, Capacity: 159
Flight ID: 47, Departure: Sydney, Arrival: Miami, Departure Time: 2025-03-06 01:50:18, Distance: 6338.7, Duration: 07:51:00, Capacity: 271
Flight ID: 48, Departure: Sydney, Arrival: Paris, Departure Time: 2025-02-09 01:50:18, Distance: 9735.5, Duration: 10:57:00, Capacity: 225
Flight ID: 49, Departure: Chicago, Arrival: Rome, Departure Time: 2025-02-07 01:50:18, Distance: 8127.4, Duration: 09:58:00, Capacity: 124
Flight ID: 50, Departure: San Francisco, Arrival: Mexico City, Departure Time: 2025-02-25 01:50:18, Distance: 8831.2, Duration: 10:04:00, Capacity: 202
Flight ID: 51, Departure: Madrid, Arrival: Berlin, Departure Time: 2025-02-20 01:50:18, Distance: 9377.4, Duration: 11:22:00, Capacity: 186
Flight ID: 52, Departure: Sydney, Arrival: Beijing, Departure Time: 2025-02-08 01:50:18, Distance: 4653.7, Duration: 05:43:00, Capacity: 195
Flight ID: 53, Departure: Bangkok, Arrival: Mexico City, Departure Time: 2025-02-20 01:50:18, Distance: 1904.0, Duration: 02:11:00, Capacity: 134
Flight ID: 54, Departure: Dubai, Arrival: London, Departure Time: 2025-02-22 01:50:18, Distance: 4057.4, Duration: 04:57:00, Capacity: 172
Flight ID: 55, Departure: San Francisco, Arrival: Los Angeles, Departure Time: 2025-02-22 01:50:18, Distance: 2465.0, Duration: 02:45:00, Capacity: 166
Flight ID: 56, Departure: Miami, Arrival: Dubai, Departure Time: 2025-02-20 01:50:18, Distance: 9863.2, Duration: 11:49:00, Capacity: 161
Flight ID: 57, Departure: Rome, Arrival: Seoul, Departure Time: 2025-02-08 01:50:18, Distance: 8284.7, Duration: 10:15:00, Capacity: 124
Flight ID: 58, Departure: Beijing, Arrival: Berlin, Departure Time: 2025-02-17 01:50:18, Distance: 3675.6, Duration: 04:06:00, Capacity: 298
Flight ID: 59, Departure: Bangkok, Arrival: San Francisco, Departure Time: 2025-02-14 01:50:18, Distance: 4773.4, Duration: 05:26:00, Capacity: 244
Flight ID: 60, Departure: Berlin, Arrival: Los Angeles, Departure Time: 2025-02-15 01:50:18, Distance: 6770.9, Duration: 08:20:00, Capacity: 298
Flight ID: 61, Departure: Singapore, Arrival: Sydney, Departure Time: 2025-02-27 01:50:18, Distance: 9637.1, Duration: 11:24:00, Capacity: 145
Flight ID: 62, Departure: Paris, Arrival: Dubai, Departure Time: 2025-02-27 01:50:18, Distance: 6898.4, Duration: 07:41:00, Capacity: 221
Flight ID: 63, Departure: Beijing, Arrival: Los Angeles, Departure Time: 2025-02-22 01:50:18, Distance: 3995.3, Duration: 04:48:00, Capacity: 150
Flight ID: 64, Departure: New York, Arrival: Mexico City, Departure Time: 2025-02-28 01:50:18, Distance: 4342.1, Duration: 05:24:00, Capacity: 289
Flight ID: 65, Departure: London, Arrival: Dubai, Departure Time: 2025-03-06 01:50:18, Distance: 4350.4, Duration: 04:52:00, Capacity: 177

--- All Bookings ---
Booking ID: 1, Flight ID: 1, Seats Booked: 5
Booking ID: 2, Flight ID: 1, Seats Booked: 100
Booking ID: 3, Flight ID: 2, Seats Booked: 10
Booking ID: 4, Flight ID: 1, Seats Booked: 5
Booking ID: 5, Flight ID: 2, Seats Booked: 10
Booking ID: 6, Flight ID: 1, Seats Booked: 5
Booking ID: 7, Flight ID: 2, Seats Booked: 10
Booking ID: 8, Flight ID: 1, Seats Booked: 5
Booking ID: 9, Flight ID: 2, Seats Booked: 10

In [52]:
# Close the connection
conn.close()

# Mandatory Question

Provide your thoughts on the assignment. What did you find challenging, and what aspects did you enjoy? Your opinion on the provided time to complete the assignment. Share any suggestions for improvement. Your feedback will be valuable for enhancing the learning experience.

In [38]:
# Write your response below
'''
I found some of the assignments challenging like question 4 were you were required to analyze
text for a mathmatical equation. I have more experience working with databases and using statements
to evaluate things, so writing NLP functions using reg ex and translating that into something the computer
can process was very difficult.

I also do not have a lot of experience with writing loops or functions, and would have to fumble through
creating it line by line, and doing the tedious part of writing the same code over, before I could realize how
the math was processing, then try to simplify it down. So there was a lot of iterating over things, having to write
out test scenarios to ensure the data was being captured how I intended and that I could operate on it, before
actually condensing things down.

The aspects I enjoyed was working through each question and iterating over it, refining my answer each time.
The questions were difficult, but after each one I felt a sense of accomplishment because I had created an
advanced function, or something I thought would be extremely difficult just reading the question. The same
applies for the Chat GPT questions. I do not have a lot of experience writing SQL in python for creating &
querying databases, so it was interesting to see how that was done. While the questions requiring ChatGPT were
fun to work throught they were also a little overwhelming, and it feels like I could spend hours trying to re-work
and refine the functions, random data generation, and edge-cases.
'''